body {
  margin: 0;
  background: #fff;
  text-align: center;
  color: #000;
  font-size: 30px;
}

h1 {
  padding: 0.3em 0;
  font-size: 1.5em;
  color: #333;
  border-top: 2px solid #777;
  border-bottom: 2px solid #777;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


a {
  position: relative;
  width: 500px;
  display: inline-block;
  padding: 0.4em 1.6em;
  margin: 30px;
  font-size: 0.8em;
  color: #0c0311;
  text-decoration: none;
  user-select: none;
  border: 1px #0c0311 solid;
  transition: 0.2s ease;
  font-weight: bolder;
  border-radius: 30px;
}

a::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0;
  height: 100%;
  content: "";
  background-color: #0c0311;
  transition: 0.2s ease;
  border-radius: 30px;
}

a:hover {
  color: #fff;

}

a:hover::before {
  width: 100%;
  background: #0c0311;
  border-radius: 30px;
}